*{
    background-color: rgb(133, 255, 133);

}
section{
    text-align: center;
    display: inline-block;
    
  content: "";
  clear: both;
  display: table;
}
.resultsID{
    font-size: 10px;
}
.resultsID:active{
    background:olive;
}

.resultsID:focus{
    background:olive;
}

