body {
    background-color:#2bff4e;
}
nav ul {
    margin: auto;
    display: block;
    max-width: 660px;
}
li {
    display: inline-block;
    list-style: none;
    margin: 20px 40px 20px 0px;
    font-size: 1.2em;

}
#all_clicks{
    text-align: center;
    width: 100%;
    height: 350px;
}
#all_clicks div{
    display: inline-block;
    float: left;
    width: 30%;
}

#all_clicks div img {
    width: 450px;
}
#resultsID{
    padding: 20px;
}
button{
    padding: 20px;
}
.clearData{
    display: block;
    height: 100px;
    width: 100%;
    position: relative;
    bottom: 0;
}