*{
    background-color: rgb(133, 255, 133);
    box-sizing: border-box;

}
img{
    
    display: inline;
    float: left;
    width: 250px;
    padding: 5px;
}
.resultsID{
    font-size: 10px;
}
.resultsID:active{
    background:olive;
}

.resultsID:focus{
    background:olive;
}

